<div class="container" id='allurls'>
  <h1>Shorten that URLLL</h1>

    <% if @error %>
      <%= "ERROR: " + @error %>
    <% end %>
  
  
  <% if @url.present? %>
    <% new_url = to "/#{@url.short_link}" %>
    Your new link is <a href=<%= new_url %>><%= new_url %></a>
  <% end %>

  <form action='/submiturl' method='post'>
    <input type='text' name='url[link]' placeholder='Enter your link'>
    <input type='submit' value='BITIFY!'>
  </form>
</div>
