<div class="container" id='login'>
  <% if session[:error] %>
    <%= session[:error] %>
  <% end %>

  <h1>LOG IN YO:</h1>

  <form action='/login' method='post'>
    <input type='text' name='login[email]'>
    <input type='text' name='login[password]'>
    <input type='submit' value='Submit'>
  </form>
</div>
