<div class="container" id='login'>
  <% if session[:error] %>
    <%= session[:error] %>
  <% end %>

  <h1>LOG IN YO:</h1>

  <form action='/login' method='post'>
    <br>
    <input type='text' name='login[email]' placeholder = "your email">
    <input type='text' name='login[password]' placeholder = "your password">
    <input type='submit' value='Submit'>  
  </form>
</div>
