<div class="container" id='signup'>
  <% if session[:error] %>
    <%= session[:error] %>
  <% end %>

  <h1>Sign up to see the secret page ;)</h1>

  <form action='/signup' method='post'>
    <br>
    <input type='text' name='user[email]' placeholder = 'your email'>
    <input type='password' name='user[password]' placeholder = 'your password'>
    <input type='password' name='user[password_confirmation]' placeholder = 'confirm your password'>
    <input type='submit' value='Log in'>
  </form>
</div>
